<meta http-equiv="content-type" content="text/html; charset=UTF-8">
{% extends "layout.html" %}
{% block title %}ExcelDiff{% endblock %}

{% block script %}
	<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
	    	$.ajaxSetup({headers: {"X-CSRFToken": '{{ csrf_token }}'}});
	    	
	    	function syntaxHighlight(json) {
	    	    if (typeof json != 'string') {
	    	        json = JSON.stringify(json, undefined, 2);
	    	    }
	    	    json = json.replace(/&/g, '&').replace(/</g, '<').replace(/>/g, '>');
	    	    return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function(match) {
	    	        var cls = 'number';
	    	        if (/^"/.test(match)) {
	    	            if (/:$/.test(match)) {
	    	                cls = 'key';
	    	            } else {
	    	                cls = 'string';
	    	            }
	    	        } else if (/true|false/.test(match)) {
	    	            cls = 'boolean';
	    	        } else if (/null/.test(match)) {
	    	            cls = 'null';
	    	        }
	    	        return '<span class="' + cls + '">' + match + '</span>';
	    	    });
	    	}
	    	   	
	    function getReport() {
             var formData = new FormData();
             formData.append("excel_old", document.getElementById("excel_old").files[0]);
             formData.append("excel_new", document.getElementById("excel_new").files[0]); 
             $('#result').html('上传中...');
             $.ajax({
                 url: "/getReport/",
                 type: "POST",
                 data: formData,
                 contentType: false,
                 processData: false,
                 
                 success: function (data) {
                     if (data.status == "success") {	 	
                     	$('#result').html(syntaxHighlight(data.report));
                     	$('#brief').html(data.brief);
                     }
                     if (data.status == "error") {
                     	$('#result').html(data.msg);
                     }
                 },
                 error: function () {
                 	$('#result').html("fail！");
                 }
             });
          }

	    
    </script>
{% endblock %}

{% block body %}
	<h1>欢迎使用ExcelDiffer</h1>
	<form enctype="multipart/form-data" action="/getReport/" method="post">  
		{% csrf_token %}
   		原excel<input type="file" id="excel_old" />  
   		<br/> 
   		新excel<input type="file" id="excel_new" />  
   		<br/> 
   		<input type="button" id="upload" onclick="getReport()" value="upload"/> 
   	</form>
   	<p><span id='brief'></span></p> 
   	<p><pre id='result'></pre></p>
   	<input type="button" id="download" onclick="downReport()" value="downReport"/> 
   	
   	
   	

{% endblock %}